*{
    margin:0px;
    padding:0px;
}
.desc2back{
    color: black;
    background-color: #e5e5e5;
    height: auto;
}
.desc1back{
    color: white;
    background-color: #45698a;
    height: auto;
}
.buttonswipe{
    text-align: right;
}
.rigthup{
    float:left;
}
.leftfinal{
    text-align: center;
    color: white;
}
.spaceleft{
    margin-left: 25px;
    color: #989898;
}
.leftrighttext{
    margin-left: 270px;
}
.leftlefttext{
    width: 200px;
    height: 20px;float: left;
}
.textchoosereserv{
    color: white;
    margin-left: 20px;
}
.centradoleftstar{
    margin-left: 105px;
}
.centradoleft{
    margin-left: 75px;
}
.buttonsize{
    width: 250px;
    height: 40px;
    margin-bottom: 10px;

}
.boxfuncion{
    color: white;
    text-align: center;
    background-color: #111523;
    width: 250px;
}
.funcionestxt{
    height: 80px;
    color: white;
    padding:20px;
    margin-left: 40px;
}
.sugerencia {
    background-color: #111523;
    height: 80px;
    color: white;
    text-align: center;
    padding: 20px;
}
.rightside{
    float: right;
    background-color: #2b2e31;
    height: 1100px;
    width: 1200px;
}
.leftside{
    float: left;
    background-color: #012154;
    height: 1100px;
    width: 400px;
}
div#general{
    margin: auto;
    width: 1600px;
    height: 1000px;
}
body {
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-color: #2b2e31;
}

header{
    position: center;
    background-color: #003f9e;
    width: 102%;
    height: 9vh;
    color: white;
    margin-top: -4px;
    margin-left: -35px;

}
header h2{
    position: absolute;
    margin-top: 25px;
    left: 10%;
    height: 100%;
}
.nav{
    position: absolute;
    min-width: 100%;
}
.nav a{
    position: relative;
    left:55%;
    margin-top: 35px;
    color:white;
    text-decoration: none;
    margin-right: 18px;
}
.nav a[id=forgot]{
    position: relative;
    left:65%;
    margin-top: 35px;
    color: #78261f;
    text-decoration: none;
    margin-right: 18px;

}

p.emptytxt{
    margin-top: 45px;
    font-size:20px;
    color:white;
    font-weight: bold;

}
/* Full-width input fields */
input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    color: #2d2e33;
    position: center;
}
input[id=rememberme]{
    font-family: Arial, Helvetica, sans-serif;
    color: #2b2e31;
    text-decoration-color: black;
}

/* Extra styles for the cancel button */
.cancelbtn {
    width: auto;
    padding: 10px 18px;
    margin-right: 0px;
    background-color: #f44336;
}

/* Center the image and position the close button */
.imgcontainer {
    text-align: center;
    margin: 6px 0 3px 0;
    width: 30%;
    height: 10%;
    position: center;
}

img.avatar {
    width: 40%;
    border-radius: 50%;
}

.container {
    padding: 16px;
    long: 16px;
}

span.psw {
    float: right;
    padding-top: 16px;
    color: blue;
}

/* The Modal (background) */
.modalh1 {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    padding-top: 60px;
}

/* Modal Content/Box */
.modal-contenth1 {
    background-color: #fefefe;
    margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
    border: 1px solid #888;
    width: 30%; /* Could be more or less, depending on screen size */
}

/* The Close Button (x) */
.close {
    position: absolute;
    right: 25px;
    top: 0;
    color: #000;
    font-size: 35px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: red;
    cursor: pointer;
}

/* Add Zoom Animation */
.animate {
    -webkit-animation: animatezoom 0.6s;
    animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
    from {-webkit-transform: scale(0)}
    to {-webkit-transform: scale(1)}
}

@keyframes animatezoom {
    from {transform: scale(0)}
    to {transform: scale(1)}
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
    span.psw {
        display: block;
        float: none;
    }
    .cancelbtn {
        width: 100%;
    }
}
button {
    background-color: #04AA6D;
    color: white;
    padding: 14px 20px;
    margin: 4px 0;
    border: none;
    cursor: pointer;

}